@media (prefers-color-scheme: light)
{
	body
	{
		background-color: white;
		color: black;
	}
}

@media (prefers-color-scheme: dark)
{
	body
	{
		background-color: black;
		color: white;
	}
	a:link,a:hover,a:active,a:visited
	{
		color: #1d9bf0;
	}
}

.monospace
{
	display:block;
	font-family:monospace;
	white-space: pre;
	word-break:break-all;
}
